<div>
  <h5>A question from: {{question.name}}</h5>
  <h3>{{question.quest}}</h3>
  {{update-question question=question update="update"}}
  <button class="button" {{action 'delete' question}}>Delete Question</button>
  <hr>
</div>
