<div class="container">
  <header>
      <h1>Quelle</h1>

      <h3>A site of questions and answers.</h3>
      {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact us{{/link-to}}
  </footer>
</div>
