<div class="container">
  <header class="jumbotron">
      <h1>Quelle</h1>

      <h3>A site of questions and answers.</h3>
      <h4 class="nav">{{#link-to 'index'}}Home{{/link-to}}</h4>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact us{{/link-to}}
  </footer>
</div>
