<div class="container">
  <header class="jumbotron">
      {{#link-to 'index'}}<h1>Quelle</h1>{{/link-to}}

      <h3>A place of questions and answers.</h3>
      <h4 class="nav">{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'savedquestions'}}Saved Questions{{/link-to}}</h4>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact us{{/link-to}} | {{#link-to 'savedquestions'}}Saved Questions{{/link-to}}
  </footer>
</div>
